.fieldset {
	border: 2px solid #845ec2;
	/* padding: 0; */
	border-radius: 5em;
	background-color: white;
}

.MuiCard-root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.MuiCardActions-root {
	background-color: '#845EC2';
}
