.header {
	background-color: hsl(41, 92%, 64%);
	border-bottom: 2px solid hsla(41, 52%, 42%, 0.349);
}
.title {
	flex-grow: 1;
	font-family: 'Love Ya Like A Sister, cursive';
	margin-left: 20%;
}

.avatar {
	margin-right: 20%;
	height: 2em;
	width: 2em;
	background-color: #845ec2;
}

.icon {
	height: 1.5em;
	width: 1.5em;
}

.nametag {
	border-radius: 5em;
	background-color: #845ec2;
	height: 1.8em;
	min-width: 7em;
	margin: 0;
	text-align: center;
}
